[Unit]
Description=Kegbot Base
After=network.target

[Service]
ExecStart=/usr/local/bin/kegbot_base.out
Type=simple

[Install]
WantedBy=default.target
